<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="../img/index/link1.png" />
		<link rel="stylesheet" type="text/css" href="../css/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/products.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />

		<script defer="defer" src="../js/jQuery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mainData.js" type="text/javascript" charset="utf-8"></script>
		<script defer="defer" src="../js/menuData.js" type="text/javascript" charset="utf-8"></script>
		<script defer="defer" src="../js/products.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/swiper.min.js" defer="defer" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" defer="defer" type="text/javascript" charset="utf-8"></script>
		<title>舶来品商城 – 大型跨境电商平台</title>
	</head>
	<body>
		<script type="text/javascript">
			window.onload = function() {
				//轮播图
				var mySwiper = new Swiper('.swiper-container', {
					direction: 'horizontal', // 垂直切换选项
					loop: true, // 循环模式选项

					// 如果需要分页器
					pagination: {
						el: '.swiper-pagination',
					},

					// 如果需要前进后退按钮
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					},

					// 如果需要滚动条

					effect: 'fade',
					autoplay: {
						delay: 3000,
						stopOnLastSlide: false,
						disableOnInteraction: true,
					}
				})
			}
		</script>

		<div class="box">
			<!--导航-->
			<div class="wrapZnav wrap">
				<div class="Znav">
					<div>
						<h1>
							<a href="../index.html">
								<img src="../img/index/header-logo-56.png">
							</a>
						</h1>
						<ul class="Znavleft">
							<li><a href="../index.html">首页</a></li>
							<li><a class="Lactive" href="#">商店</a></li>
							<li><a href="stores.html">商店</a></li>
							<li><a href="shopInstruction.html">购物指南</a></li>
							<li><a href="javascript:;">我的账户</a>
								<ul class="usermessage">
									<li><a href="javascript:;">账户详情</a></li>
									<li><a href="javascript:;">地址管理</a></li>
									<li><a href="shoppingList.html">订单详情</a></li>
								</ul>
							</li>
						</ul>
						<ul class="Znavright">
							<li>
								<a href="javascript:;">
									<img src="../img/index/lang-zh_cn.png">

								</a>
								<span class="language">
									<a><span>中文</span><span><img src="../img/index/lang-zh_cn.png"></span></a>
									<a><span>英文</span><span><img src="../img/index/lang-en_us.png"></span></a>
								</span>
							</li>
							<li>
								<a href="javascript:;">
									<span class="glyphicon glyphicon-shopping-cart"></span>
									<span class="pNum">0</span>
									<div class="tk">
										购物车
										<span class="car"></span>
									</div>
								</a>
							</li>
							<li>

							</li>
							<li>
								<a href="javascript:;">
									<span class="glyphicon glyphicon-search"></span>
									<div class="tk">
										搜索
										<span class="car"></span>
									</div>
								</a>
							</li>
							<li>
								<a href="users.html">
									<span class="glyphicon glyphicon-user"></span>
									<div class="tk">
										注册
										<span class="car"></span>
									</div>
								</a>
							</li>
							<li>
								<a href="shopingexperts.html">
									<span class="glyphicon glyphicon-log-in"></span>
									<div class="tk">
										登录
										<span class="car"></span>
									</div>
								</a>
							</li>
							<li class="yhxx">
								<a href="view/shopingexperts.html">
										 <img src="https://www.buyimp.com/wp-content/plugins/woocommerce-rl-extends/assets/images/avatar-100.png" > 
									</a>
									<div class="">
										<p></p>
										<p>个人中心</p>
										<p>身份审核</p>
										<p>通知</p>
										<p>信息</p>
										<a href="javascript:;">
											注销
										</a>
									</div>
								
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--菜单栏-->
			<div class="wrapmenu wrap">
				<div>
					<ul class="menu">
						<!-- <li>
						 <a href="javascript:;">
							个人美妆<span class="glyphicon glyphicon-chevron-down"></span>
						</a>
					</li> -->
					</ul>
					<div class="menuTk">
						<div class="menuLeft">
							<ul class='list2'>
								<!-- <li class="active"><span>护肤</span> <span class="glyphicon glyphicon-arrow-right"></span></li> -->
							</ul>

						</div>
						<div class=" menuCenter">

							<!-- <h1>护肤</h1>
						<p>
							<span>Ernolaszlo奥伦纳索</span>

						</p> -->
						</div>
						<div class="menuRight ">
							<!-- <div>
							<a href="#">
								<img src="img/index/1.jpg" alt="">
							</a>
						</div> -->
						</div>
					</div> <!-- -->
				</div>
			</div>



			<div class="main">
				<div class="zcontainer">
					<div class="row">
						<div class="col-lg-3 main_left">
							<h2>产品类别</h2>
							<ul class="cptype">
								<!-- <li>
									<h3><span><a href="javascript:;">个人美妆</a></span></h3>
									<ul>
										<li><span><a href="javascript:;">护肤</a></span></li>
										<li><span><a href="javascript:;">彩妆</a></span></li>
										<li><span><a href="javascript:;">个人护理</a></span></li>
										<li><span><a href="javascript:;">健康用品</a></span></li>

									</ul>
								</li> -->
								
							</ul>
						</div>
						<div class="col-lg-9 main_right">
							<div class="row typetop">
								<div class="col-lg-6 rightl6">
									<h3>热门分类</h3>
									<div>
										<a href="javascript:;">
											<img src="../img/products/maternity-baby-kids.jpg">
											<div><span>母婴儿童</span><span>336件商品</span></div>
										</a>
									</div>
								</div>
								<div class="col-lg-6 rightr6">

									<a href="javascript:;">
										<img src="../img/products/food-health-supplies.jpg">
										<div><span>母婴儿童</span><span>336件商品</span></div>
									</a>


									<a href="javascript:;">
										<img src="../img/products/pet-products.jpg">
										<div><span>母婴儿童</span><span>336件商品</span></div>
									</a>


								</div>
							</div>
							<h1>所有商品</h1>
							<div class="row allproducts">
								<h2><span class="gesh">产品（4302中的1-24）</span>
										<a class="cae">&lt;</a>
										<select>
											<option value="mr">默认产品排序</option>
											<option value="time">按更新时间排序</option>
										</select>
								</h2>
								
								<div class="proout">
									<!-- <div class="col-lg-3 product">
									<a href="javascript:;">
										<img src="../img/products/_fc12d7417e62f333506191533-shopindex.jpg" >
									</a>
									<h3>Solid Gold素力高小型犬狗粮12磅</h3>
									</div> -->
							</div>
							
								
								
								
							</div>
							
							<div class="page">
								<div class="pre"><a href="javascript:;">&lt;</a></div>
								<ul>
									
									<!-- <li><a href="javascript:;">1</a></li>
									<li><a href="javascript:;">2</a></li> -->
									
								</ul>
								<div class="next"><a href="javascript:;">&gt;</a></div>
							</div>

						</div>

					</div>
				</div>
			</div>





			<div class="foot">
				<div class="foot_main">
					<div class="left">

						<h2><a href="#"><img src="../img/index/header-logo-56.png"></a></h2>
						<h3><a class="q_h" href="javascript:;"><img src="../img/index/lang-zh_cn.png"><span> &gt;</span> <span>中文
								</span></a>

							<ul>
								<li><a href="#"><img src="../img/index/lang-zh_cn.png"> <strong>中文</strong></a></li>
								<li><a href="#"><img src="../img/index/lang-en_us.png"><strong>英文</strong></a></li>
							</ul>
						</h3>

						<span class="hs">以手机模式浏览</span>

					</div>

					<div class="cen1">
						<h3>sell &nbsp;on&nbsp;us</h3>
						<ul>
							<li><a href="#">购物流程</a></li>
							<li><a href="#">正品保障</a></li>
							<li><a href="#">售后服务</a></li>
							<li><a href="#">B2B指南</a></li>
							<li><a href="#">常见 Q & A</a></li>
						</ul>
					</div>
					<div class="cen2">
						<h3>关于我们</h3>
						<ul>
							<li><a href="#">关于舶来品</a></li>
							<li><a href="#">政策公示</a></li>
							<li><a href="#">商家合作</a></li>
							<li><a href="#">联系方式</a></li>
							<li><a href="#">监督投诉</a></li>
						</ul>
					</div>
					<div class="f-right">
						<h3>关注我们</h3>
						<ul>
							<li><a href="#"><img src="../img/index/qq.png"></a><span>QQ</span>
								<a class="wecha" href="#"><img src="../img/index/qr_code_300.jpg"></a>
							</li>
							<li><a href="#"><img src="../img/index/微信.png"></a><span>微信</span>
								<a class="wecha" href="#"><img src="../img/index/qr_code_300.jpg"></a>
							</li>
							<li><a href="#"><img src="../img/index/微博.png"></a><span>微博</span>
								<a class="wecha" href="#"><img src="../img/index/qr_code_300.jpg"></a>
							</li>
						</ul>
					</div>


				</div>
			</div>


			<div class="footer">
				<p>&copy;2017-2018舶来品商城Buyimp.com版权所有</p>
				<p>鲁ICP备17033809增值电信业务经营许证：鲁B2-20180038</p>
			</div>

			<div class="sidbar">
				<ul>
					<li>
						<div></div>
						<!-- <span class="sidTk"><img src="img/index/qr_code_300.jpg" ></span> -->
					</li>
					<li>
						<div></div>
						<span class="sidTk_wechat">
							<h4>扫描二维码</h4>
							<span class="san"></span>
							<img src="../img/index/qr_code_300.jpg">
						</span>
					</li>
					<li>
						<div></div>
						<span class="email_wechat">
							<h4>service@buyimp.com</h4>
							<span class="san"></span>
					</li>
					<li>

						<div></div>
						<!-- <span class="sidTk"><img src="img/index/qr_code_300.jpg" ></span> -->
					</li>
					<li>
						<span class="san"></span>
						<a href="javascript:;" class="backToTop">页顶</a>
						<!-- <span class="sidTk"><img src="img/index/qr_code_300.jpg" ></span> -->
					</li>
				</ul>
			</div>
		</div>

	</body>
</html>
