<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="../img/index/link1.png" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="../css/users.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<script defer="defer" src="../js/menuData.js" type="text/javascript" charset="utf-8"></script>
		<script defer="defer" src="../js/users.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/swiper.min.js" defer="defer" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jQuery.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body>
		<div class="box">
			<div class="navBar">
				<div class="nav">
					<h1>
						<img src="../img/users/buyimp-logo.png">
					</h1>

					<div class="navright">
						<div class="language">
							<h2> <span><img src="../img/users/lang-zh_cn.png"></span><span>中文</span><span></span> </h2>
							<ul>
								<li> <span><img src="../img/users/lang-zh_cn.png"></span><span>中文</span><span></span></li>
								<li> <span><img src="../img/users/lang-en_us.png"></span><span>英文</span><span></span></li>
							</ul>
						</div>
						<a href="../index.html" class="bShop">
							
							<i class="fa fa-shopping-bag fa-2x"></i>

							<div class="tk">
								返回商城
								<span class="car"></span>
							</div>
						</a>
						
						
					</div>
				</div>
			</div>
			<div class="ban">
				<img src="../img/users/home-slider-1.jpg">
				<div class="hmask">
					<h2>我是</h2>
					<div>
						<a href="shopingexperts.html">购物达人</a>
						<a href="#">分销商</a>
						<a href="#">供应商</a>
					</div>
				</div>
			</div>
			<div class="bandown">
				<div>
					<img src="../img/users/shopping-expert.png">
					<h2>购物达人</h2>
					<p>畅选海外同步优品</p>
					<p>注重品质关心潮流</p>
				</div>
				<div>
					<img src="../img/users/retailer.png">
					<h2>分销商</h2>
					<p>获取一手进口货源</p>
					<p>进货安心分销无忧</p>
				</div>
				<div>
				<img src="../img/users/vendor.png">
					<h2>供应商</h2>
					<p>对接庞大中国市场</p>
					<p>入驻平台轻松运营</p>
				</div>
			</div>


			<div class="foot">
				<div class="foot_main">
					<div class="left">

						<h2><a href="#"><img src="../img/users/buyimp-logo.png"></a></h2>
						<h3><a class="q_h" href="javascript:;"><img src="../img/index/lang-zh_cn.png"><span> &gt;</span> <span>中文
								</span></a>

							<ul>
								<li><a href="#"><img src="../img/index/lang-zh_cn.png"> <strong>中文</strong></a></li>
								<li><a href="#"><img src="../img/index/lang-en_us.png"><strong>英文</strong></a></li>
							</ul>
						</h3>

						

					</div>

					<div class="cen1">
						<h3>购物指南</h3>
						<ul>
							<li><a href="#">购物流程</a></li>
							<li><a href="#">正品保障</a></li>
							<li><a href="#">售后服务</a></li>
							<li><a href="#">B2B指南</a></li>
							<li><a href="#">常见 Q & A</a></li>
						</ul>
					</div>
					<div class="cen2">
						<h3>关于我们</h3>
						<ul>
							<li><a href="#">关于舶来品</a></li>
							<li><a href="#">政策公示</a></li>
							<li><a href="#">商家合作</a></li>
							<li><a href="#">联系方式</a></li>
							<li><a href="#">监督投诉</a></li>
						</ul>
					</div>
					<div class="f-right">
						<h3>关注我们</h3>
						<ul>
							<li><a href="#"><img src="../img/index/qq.png" ></a><span>QQ</span>
								<a class="wecha" href="#"><img src="../img/index/qr_code_300.jpg" ></a>
							</li>
							<li><a href="#"><img src="../img/index/微信.png" ></a><span>微信</span>
								<a class="wecha" href="#"><img src="../img/index/qr_code_300.jpg" ></a>
							</li>
							<li><a href="#"><img src="../img/index/微博.png" ></a><span>微博</span>
								<a class="wecha" href="#"><img src="../img/index/qr_code_300.jpg" ></a>
							</li>
						</ul>
					</div>


				</div>
			</div>

		
		<div class="footer">
				<p>&copy;2017-2018舶来品商城Buyimp.com版权所有</p>
				<p>鲁ICP备17033809增值电信业务经营许证：鲁B2-20180038</p>
		</div>

		</div>

	</body>
</html>
